# kwtSMS API credentials
# Get your API credentials at https://www.kwtsms.com/account/api/
KWTSMS_USERNAME=zig_username
KWTSMS_PASSWORD=zig_password
KWTSMS_SENDER_ID=KWT-SMS
KWTSMS_TEST_MODE=1
KWTSMS_LOG_FILE=kwtsms.log
